<div th:fragment="boisson-form">
	<div class="form-group">
  		<label for="nom" th:text="#{boisson.nom}">Name *</label>
		<input class="form-control" type="text" id="nom" name="nom" th:field="*{nom}" required /> 
	</div>
	
	<div class="form-group">
  		<label for="description" th:text="#{boisson.description}">Description *</label>
		<textarea class="form-control" type="text" id="description" name="description" th:field="*{description}" required></textarea>
	</div>
	
	<div class="form-group">
  		<label for="file" th:text="#{boisson.file}">Image * </label>
		<input class="form-control-file" type="file" id="file" name="file" th:field="*{file}" required />
	</div>
	
	<div class="form-group">
		<label for="categories">Categories</label>
		 <select multiple class="form-control" id="categories" name="categories" th:field="*{categories}">
			<option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie}">[Categorie]</option>
		</select> 
	</div>
	
	<button type="submit" class="btn btn-primary">Save</button>
</div>