<article th:fragment="single-boisson(boisson, user)" class="container">
   	<h2 th:text="${boisson.nom}">[BoissonNom]</h2>
   	<div class="row">
   		<div class="col-md-5">
   			<img th:src="${boisson.fileURL}" class="rounded float-left" th:alt="${boisson.nom}">
   		</div>
   		<div class="col-md-7">
   			<h3>Description</h3>
   			<p th:text="${boisson.description}">
   				[Description]
   			</p>
   			<h5>Type of drink : </h5>
   			<div>
   				<span th:each="categorie : ${boisson.categories}" class="tag-label" th:text="${categorie}">[Categorie]</span>
   			</div>
   			<div class="text-right">
   				<span sec:authorize="isAuthenticated()">
	   				<a class="favorite-link" th:if="${boisson.isFavorite(user)}" href="#" th:data-id-boisson="${boisson.id}" th:data-action="remove"><i class="fas fa-star"></i></a>
	    			<a class="favorite-link" th:unless="${boisson.isFavorite(user)}" href="#" th:data-id-boisson="${boisson.id}" th:data-action="add"><i class="far fa-star"></i></a>
  				</span>
				<div class="text-right" sec:authorize="isAuthenticated()">
					<a class="up-vote" href="#" th:data-id-boisson="${boisson.id}"><i class="fas fa-arrow-up"></i></a>
					<span th:id="boisson-score- + ${boisson.getId()}" th:text="${boisson.getScore()}"> </span>
					<a class="down-vote" href="#" th:data-id-boisson="${boisson.id}"><i class="fas fa-arrow-down"></i></a>
				</div>
   			</div>
   		</div>
   	</div>
</article>