<!DOCTYPE html>
<html>
<head th:replace="fragments/general :: header">
</head>
<body>
	<div th:replace="fragments/general :: nav">[Navigation]</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form method="post" th:action="@{save}"
					enctype="multipart/form-data" th:object="${boisson}">
					<div th:replace="fragments/boisson-form :: boisson-form">[Boisson
						Form]</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/general :: footer">[Footer]</div>
</body>
</html>