<!DOCTYPE html>
<html>

	<head th:replace="fragments/general :: header">
	</head>
	
	<body>
  		<div th:replace="fragments/general :: nav">[Navigation]</div>
  		
  		<div class="container main-content">
  			<div class="row">
  				<div class="col-8">
  					 <div th:each="boisson : ${boissons}">
  					 	<div th:include="fragments/single-boisson :: single-boisson(${boisson}, ${user})">
	  					 	[Boisson]
  					 	</div>
  					 </div>
  				</div>
  				<div class="col-3 offset-md-1" th:include="fragments/recherche-avancee :: recherche-avancee(${categories})">
  				
  				</div>
  			</div>
			<div class="col-lg-6 offset-lg-3 d-flex">
				<ul class="pagination mx-auto">
					<li class="page-item" th:each="pageNumber : ${listPages}"  th:classappend="${pageNumber == pageNum} ? active">
						<a class="page-link" th:href="@{/boisson/page/} + ${pageNumber}" th:text="${pageNumber}">[PageNumber]</a>
					</li>
				</ul>
			</div>
  		</div>
    	<div th:replace="fragments/general :: footer">[Footer]</div>
	</body>

</html>