<!DOCTYPE html>
<html>

	<head th:replace="fragments/general :: header">
	</head>
	
	<body>
  		<div th:replace="fragments/general :: nav">[Navigation]</div>
  		
  		<div class="container">
  			<div class="row">
  				<div class="col-9">
  					 <div th:each="boisson : ${boissons}" th:replace="fragments/single-boisson :: single-boisson(${boisson})">
  					 	[Boisson]
  					 </div>
  				</div>
  				<div class="col-3">
  				
  				</div>
  			</div>
  			<ul>
	  			<li th:each="boisson : ${boissons}" th:text="${boisson}">[Boisson]</li>
	  		</ul>
			<div class="col-lg-6 offset-lg-3 d-flex">
				<ul class="pagination mx-auto">
					<li class="page-item" th:each="pageNumber : ${listPages}"  th:classappend="${pageNumber == pageNum} ? active">
						<a class="page-link" href="/boisson/page/${pageNumber" th:text="${pageNumber}">[PageNumber]</a>
					</li>
				</ul>
			</div>
  		</div>
   		
    		
    	<div th:replace="fragments/general :: footer">[Footer]</div>
	</body>

</html>