<!DOCTYPE html>
<html>

	<head th:replace="fragments/general :: header">
	</head>
	
	<body>
  		<div th:replace="fragments/general :: nav">[Navigation]</div>
  		
  		<div class="container">
  			<h1 th:text="${boisson.nom}">[Nom]</h1>
			<div>
				<img th:src="${boisson.fileURL}" class="rounded img-boisson" th:alt="${boisson.nom}" />
  			</div>
  			<p th:text="${boisson.description}">
  				[Description]
  			</p>
  		</div>
    		
    	<div th:replace="fragments/general :: footer">[Footer]</div>
	</body>

</html>