.tag-label 
{
	background-color: DodgerBlue;
	color: white;
	border-radius: 2px;
	margin: 0 3px;
	padding: 4px 8px;
}
.main-content
{
	margin-top: 30px;
}

.favorite-link
{
	color: #fff01e;
	margin-right: 10px;
}

.favorite-link:hover
{
	color: #e0d216;
}

.form-inline
{
	display: inline !important;
}

.img-boisson
{
	max-width: 100%;
}